@import 'colors';
@import 'extends';

body {
  background: black;
  color: white;
  font-family: 'Helvetica Neue';
  box-sizing: border-box;
  margin: 0;
}

input, button {
  @extend %padding;
  border: none;
  font-size: .8em;
  outline: none;
}
button {
  border-radius: 0 3px 3px 0;
  margin-left: -5px;
  background: $color-prim;
  color: white;
}
input {
  border-radius: 3px 0 0 3px;
  text-align: center;
}

header {
  text-align: center;
  h1 {
    margin: 15px 0;
  }
  .red {
    color: $color-prim;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin: 0 10px 20px;
      color: white;
      text-decoration: none;
      &:hover {
        color: $color-prim;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .gallery {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 90vw;
    height: 90vw;
    flex-wrap: wrap;
    img {
      width: calc(33.33% - 20px);
      height: calc(33.33% - 20px);
      margin: 10px;
    }
  }
}

.search {
  text-align: center;
  margin-top: 20px;
}

.about {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  p {
    width: 60vw;
    color: #777;
  }
}

footer {
  text-align: center;
  i {
    margin: 30px 15px;
    &:hover {
      color: $color-prim;
    }
  }
}
